<% if resource.errors.any? %>
  <div class="container mt-2 mb-4">

  <div id="error_explanation" data-turbo-cache="false">
    <div class="row justify-content-center">
      <div class="col-md-12 mb-1">
        <h3 class="text-center">
          <%= I18n.t("errors.messages.not_saved",
                    count: resource.errors.count,
                    resource: resource.class.model_name.human.downcase)
          %>
        </h3>
      </div>

      <div class="col-md-4">
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  </div>
<% end %>

