<ul>
  <% negotiations.each do |negotiation| %>
    <% if negotiation.id.present? %>
      <li>
        <div class="negotiation-name" id ="this_negotiation_<%= negotiation.id %>"></div>
        
        <p>
          <%= negotiation.name %>
        </p>

        <p>
          <%= link_to "コメント編集", edit_product_negotiation_path(product, negotiation), remote: true %>
        </p>
        
        <p>
          <%= link_to "コメント削除", product_negotiation_path(negotiation.product_id, negotiation.id), method: :delete, remote: true, data: { confirm: "本当に削除しますか?"} %>
        </p>
        
      </li>
    <% end %>
  <% end %>
</ul>